################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSCN71020_A1/.vs/CSCN71020_A1/FileContentIndex/b91ac621-923c-4550-a0e1-40f79d89a719.vsidx
/CSCN71020_A1/.vs/CSCN71020_A1/FileContentIndex/0edfafe5-9909-4a82-97eb-1d947698ed42.vsidx
